@use 'toggler'; 
@use 'body-border';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root {
    --primary-color: #1E2B49;
    --secondary-color: #fb5c22;
    --font-color: #424242;
    --bg-color: #ffffff;
    --primary-fontfam: 'Roboto', sans-serif;
    --dark-shadow: rgba(0, 0, 0, 0.2);
    --light-shadow: rgba(255, 255, 255, 0.549);
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #fb5c22;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --light-shadow: #25253f;
}  

$pry-color: #2c3039;
$border-col: #303541;

@mixin anchor-tag {
    text-decoration: none;
    font-family: var(--primary-fontfam);
    color: var(--font-color);
}

@mixin link {
      padding: 7px 20px;
      color: var(--font-color);
      font-size: 13px;
      border-radius: 3px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    background-color: var(--bg-color);
   color: var(--font-color);
    font-family: var(--primary-fontfam);
}

.container {
    width: 80%;
    margin: auto;
    padding: 16px;
    margin-bottom:20px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.logo-text {
    @include anchor-tag();
    font-size: 28px;
   

    .coloured-logo {
        color: var(--secondary-color);
    }
}

.whole-section {
    width: 95%;
    margin: auto;
    padding: 5px;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin-top: 20px;

    .form-contain {
        padding: 10px;

        h2 {
            font-weight: 500;
            font-size: 30px;        
            margin-bottom: 10px;
        }
    }
}

form {
    box-shadow: 2px 4px 10px 0 var(--dark-shadow),
        -1px -1px 10px  var(--light-shadow);
    padding: 26px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    button {
        margin: 10px;
        cursor: pointer;
        border: none;
        background-color: var(--secondary-color);
        padding: 13px;
        outline: none;
        box-shadow: 0px 2px 16px 0 var(--dark-shadow),
        -1px -1px 13px var(--light-shadow);
        border-radius: 6px;
        margin-top: 25px;
    }
    .input{
        display: flex;
        flex-direction: column;
        padding: 10px;
        label{
            font-size: 16px;
            padding-bottom: 4px;
            color: var(--secondary-color);
        }
        input{
            font-size: 14px;
            background: none;
            outline: none;
            border: 1px solid #DCDFEC;
            padding: 13px;
            border-radius: 6px;
            font-family: var(--primary-fontfam);
            color: var(--font-color);
            &::placeholder{
                font-size:13px;
                color: #DCDFEC;
            }
        }
        
    }
}

#webOutput{
    overflow: auto;
    max-height: 600px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    word-break: break-all;
    word-wrap: break-word;
    padding: 16px;
    div{
       box-shadow: 2px 4px 10px 0 var(--dark-shadow),
       -1px -1px 5px 0 var(--light-shadow);
        
       border-radius: 10px;
       padding: 16px;
       margin: 4px;
       h3{
           font-size: 28px;
           font-weight: 300;  
           padding-left: 9px;
           text-transform: capitalize;
       }
       a{
           @include anchor-tag;
         
           margin: 9px;
           display: inline-block;
       }
       .visit-link{
           background-color: var(--secondary-color);
           @include link;
       }

       .del-link{
            border: 1px solid var(--secondary-color);
            @include link;
       }

       i{
           padding-right: 7px;
       }

       a:hover{
           opacity: 0.9;
       }
    }
}

.git-link{
    margin: 16px;
    display: inline-block;
}


@media screen and (max-width: 1350px) {
    #webOutput{
        margin-top: 110px;   
    }
}

@media screen and (max-width: 900px) {
    .container{
        width: 100%;
    }
   .section-container {
       display: grid;
       grid-template-columns: 1fr;
       margin-top: 20px;
   }
   #webOutput {
       margin-top: 20px;
   } 
}

@media screen and (max-width: 500px){
    .logo-text{
        font-size: 22px;
    }

   .section-container .form-contain h2{
        font-size: 24px;
        font-weight: 400;
    }

  form{
      padding: 10px;
      button{
          padding: 10px;
      }
      .input{
          padding: 6px;
          input{
              padding: 10px;
          }
      }
  }

  #webOutput{
      padding: 4px;
      div{
          padding: 10px;
          h3{
              font-size: 22px;
          }
          .visit-link{
              font-size: 12px;
          }

          .del-link {
              font-size: 12px;
          }
      }
  }
     
}